<!-- collection.html -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/layui.css">
<!--     <link rel="stylesheet" type="text/css" href="css/jquery.tagbox.css"> -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     <script type="text/javascript" src="js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="js/jquery.tagbox.js"></script> -->
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script type="text/javascript" src="js/common.js"></script>


<!--     <script type="text/javascript" src="js/tag.js"></script> -->

<!--
     <script type="text/javascript">
    jQuery(function() {
      jQuery("#jquery-tagbox-text").tagBox();
        });
    </script> -->
</head>

<body style=" background-color: rgba(90,120,250,0.1);">
    <div class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <!-- <div class="navbar-brand">人气美食推荐系统</div> -->
        <a href="index.html" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="navwordsize layui-icon" href="#">&#xe68e;首页</a></li>
            <li><a class="navwordsize layui-icon" href="#">&#xe63c;全部</a></li>
            <li><a class="navwordsize layui-icon" href="#">&#xe6c6;今日推荐</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a  href="login.html" class="layui-icon">&#xe619;登陆</a></li>
            <li><a  href="signup.html" class="layui-icon">&#xe650;注册</a></li>
            <li><a  href="#" class="layui-icon">&#xe612;我的收藏</a></li>
        </ul>
    </div>
    </div>
    <div class="container">
        <div class="row">

<!-- 左空白 -->
    <div class="sidecolor col-sm-2">

    </div>
    <div class="col-sm-8 collection">
        <div class="titlecolor clearfix ">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <!-- <img src="img/头像.png" class="img-circle"> -->
            </div>
            <div class="username col-sm-4">
            用户名
            </div>
        </div>
        <div class="col-sm-8 leftcolor">
        <h4 style="text-align: center;">收藏餐厅</h4>
        <hr>
<!--         全部标签  标签1   标签2  标签3  -->
        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tags "></span>  全部标签
        </a>
<!--          <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag" id="btn1">标签1</span>
        </a>
         <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span>
        </a>
         <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签3
        </a>
         <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签4
        </a>
        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签5
        </a>

        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签6
        </a>
        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签7
        </a>
        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签8
        </a>
        <a href="#" class="btn btn-info btn-sm taglocation">
          <span class="glyphicon glyphicon-tag"></span> 标签9
        </a> -->
<!--         <hr>
           <div class="form-group center">
                   全部标签:
                    <br>
                        <input type="text" id="tags" name="tags"  data-role="tagsinput" placeholder="新增标签"/>
                </div>

        <form action="../jquery-tagbox/.">
        <div class="row">
            <label for="jquery-tagbox-text" placeholder="添加标签"></label>
            <input type="text" id="jquery-tagbox-text" />
        </div>
        </form> -->


        <div id="app">
            <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)">
              {{tag}}
            </el-tag>
            <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm">
            </el-input>
            <el-button v-else class="button-new-tag" size="small" @click="showInput">+  新增标签</el-button>
        </div>
        <hr>
<!--         <a href="">+新增标签</a> -->

            <li  class="odd1">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary" data-toggle="modal" data-target="#myModal" >编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>

            <hr>

            <li class="odd2">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary">编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>

            <hr>

                        <li  class="odd1">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary">编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>

            <hr>

            <li class="odd2">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary">编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>
                <hr>
             <li  class="odd1">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary">编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>

            <hr>

            <li class="odd2">
                <div class="txtcolor">
                    <a class="title2">小P私厨</a>
                <div class="tags-box">
                </div>
                <div class="txt-c">
               <!--商户信息-->
                 <div class="info2">
                    口味:<span>9.0</span>
                    环境:<span>9.0</span>
                    服务:<span>9.0</span>
                    <p>广富林路658弄210号2F</p>
                        <a class="label label-primary">编辑</a>
                        <a class="label label-danger">删除</a>

                </div>
                </div>
                </div>
            </li>

        </div>
        <div class="col-sm-4 rightcolor">
        <H3>收藏一家餐厅</H3>
        <br>
        把平时想去的餐厅收藏起来，想起来的时候就能快速找到啦，还可以设置不同的标签，区分不同种类的餐厅
        <br>
        <br>
        <a href="index.html">查看人气餐厅</a>
        <br>
        <br>
        <br>
        <br>
        </div>

            <div class="pagination">
              <ul class="pagination ">
                <li><a href="#">首页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">尾页</a></li>
                <li>
                </li>
                <li>跳至<input type="text" class="g-input">页<input type="button" onclick="" value="跳转"></input></li>
            </ul>
            </div>
        </div>
        <div class="col-sm-4"></div>
            <!--分页/-->


    </div>
    <div class="sidecolor col-sm-2">
        3
    </div>




<!-- 模态框（Modal） -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title "  id="myModalLabel">
                    修改标签
                </h3>
            </div>
            <div class="modal-body">
                选择需要添加的标签
                <br>

                    <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)">
                      {{tag}}
                    </el-tag>
                    <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput">+  新增标签</el-button>
            
                <label><input name="tags" type="checkbox" value="" />
                 <button class="btn btn-info btn-sm taglocation">
                 <span type="checkbox"class="glyphicon glyphicon-tag">标签2</button>
                 </label>
                <label><input name="tags" type="checkbox" value="" />
                    <button class="btn btn-info btn-sm taglocation">
                    <span type="checkbox"class="glyphicon glyphicon-tag">标签3</button>
                </label>
                <label><input name="tags" type="checkbox" value="" />
                    <button class="btn btn-info btn-sm taglocation">
                    <span type="checkbox"class="glyphicon glyphicon-tag">标签4</button>
                </label>
                <label><input name="tags" type="checkbox" value="" />
                    <button class="btn btn-info btn-sm taglocation">
                    <span type="checkbox"class="glyphicon glyphicon-tag">标签5</button>
                 </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<link rel="stylesheet" type="text/css" href="css/test.css">
<link rel="stylesheet" type="text/css" href="css/elementui.css">
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>

<script type="text/javascript" src="js/test.js"></script>

</body>
</html>
